.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 90%;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.city_name {
    font-size: 1.2em;
    font-weight: bold;
}

.favourite_star {
    cursor: pointer;
}

.star_icon {
    width: 24px;
    height: 24px;
}
.star_icon:hover {
    filter: drop-shadow( 0 0 10px rgba(255, 255, 0, .5));
}